<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60756086738-fqm0lfss5eska22fllavk3moesd3gd4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60756086738-fqm0lfss5eska22fllavk3moesd3gd4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAN903XfkRSmZUR5XbAjIZeDXEppPB8WCo</string>
	<key>GCM_SENDER_ID</key>
	<string>60756086738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terra</string>
	<key>PROJECT_ID</key>
	<string>terra-34cac</string>
	<key>STORAGE_BUCKET</key>
	<string>terra-34cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60756086738:ios:05952ec64ade39da7dc20b</string>
</dict>
</plist>